- title :app_name
.row
  .col-md-12
    %h1
      Учебник по волонтёрству будет готов 19 октября в 10:00
.row
  .col-md-12{ style: 'color: #333; font-size: 15px' }
    .panel.info{ style: 'padding: 5px; padding-bottom: 20px; background-color: #333;' }
      %h2{ style: 'color: white' }
        Осталось
      %script{src: "http://megatimer.ru/s/c224c3623aff85d3a4894421bd50a708.js"}
