- title :app_name
.row
  .col-md-12
    %h1
      Молодёжная волонтёрская школа
    %h2
      28 - 31 августа
    %h2
      ДООЦ «Юность», Димитровград
.row
  .col-md-offset-4.col-md-4{ style: 'color: #333; font-size: 15px' }
    .panel.info{ style: 'padding-left: 5px' }
      %p
        Дорогие участники Международной школы волонтёров!
      %p
        Отъезд на Школу осуществляется централизованно от гостиницы Советская (ул. Спасская, 8) 28 августа.
      %p{ style: 'text-align: left' }
        • в 9:30 - регистрация участников
      %p{ style: 'text-align: left' }
        • в 10:00 - отъезд
      %p{ style: 'text-align: left' }
        • в 10:30 - остановка на Станции (Верхняя Терасса)
      %p{ style: 'text-align: left' }
        • в 10:45 - остановка на кольце в р.п. Чердаклы

      %p
        Участники из г. Димитровград, Мелекесского района и Новомалыклинского района добираются самостоятельно.
      %p
        Возвращаемся в Ульяновск 31 августа в 13:00 к гостинице Советской.
-#.row
  .slider-pro#video
    .sp-slides
      .sp-slide
        = render 'layouts/web/shared/youtube_embed', link: 'https://www.youtube.com/embed/AsyV9JS_1QU'
      .sp-slide
        = render 'layouts/web/shared/youtube_embed', link: 'https://www.youtube.com/embed/EPpJ4Sn0CG4'
      .sp-slide
        = render 'layouts/web/shared/youtube_embed', link: 'https://www.youtube.com/embed/BLQVgG-86v8'
    .sp-thumbnails
      .sp-thumbnail
        %h4
          Погружение в технологию добра
      .sp-thumbnail
        %h4{ style: 'margin-top: 20px' }
          Мы здесь!
      .sp-thumbnail
        %h4{ style: 'margin-top: 20px' }
          Технология добра
