- title :app_name
%h1
  Молодёжная волонтёрская школа
%h2
  16 - 23 августа
%h2.btn-branded.request.link{ data: { href: new_participant_path } }
  Подать заявку
  %br
  на участие
%h2.btn-branded.about.link{ data: { href: page_path(@about_page) } }
  = @about_page.title
%h2.btn-branded.organizer.link{ data: { href: new_organizer_path } }
  = t('layouts.application.send_request')
