@media (max-width: 767px)
  .masthead, .mastfoot
    width: 100%
  .masthead
    .inner
      .masthead-brand
        float: left
      .nav
        li
          float: left
  .inner.cover
    padding-top: 150px
    .request
      margin-left: 10%
      margin-right: 10%
  .mastfoot
    bottom: 0
