- title
.container.mic-form-container
  .row
    .col-md-6
      = simple_form_for @user, url: { controller: 'web/sessions', action: :create } do |f|
        = f.input :email, as: :string
        = f.input :password, required: true
        = f.button :submit, t('helpers.enter'), class: "mic-flat-button"
