/*
 *= require_tree .
 *= require bootstrap-datetimepicker
 *= require_self
 */

@import 'bootstrap-sprockets'
@import 'bootstrap'

$persic_color: #fac416
$contest_color: #ffae00

.link
  cursor: pointer

@font-face
  font-family: bold_mic_font
  src: font-url('PFSquareSansPro-Medium.ttf')

@font-face
  font-family: mic_font
  src: font-url('PFBeauSansPro-Light.ttf')

body
  font-family: mic_font
  background-color: #333
  color: #fff

footer
  a
    &:hover
      color: $contest_color
  .logo
    float: left
    background-color: white
    padding: 5px
    border-radius: 5px
    img
      width: 100%

.bootstrap-datetimepicker-widget
  color: #333

.alert
  text-align: left

textarea
  height: 100px
  &:focus
    height: 300px

.background
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-size: cover
  background-position: center center
  &#background_1
    background-image: image-url('background/1.png')
    z-index: -99
  &#background_2
    background-image: image-url('background/2.png')
    z-index: -98
  &#background_3
    background-image: image-url('background/3.png')
    z-index: -97
  &#background_4
    background-image: image-url('background/4.png')
    z-index: -96
.background-transparent-white
  background-color: white
  opacity: 0.5
  z-index: -90
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%

h1, h2, h3, h4, h5, h6, form
  color: #333

h2
  font-size: 36px
  padding-top: 7px
  padding-bottom: 7px

.btn-branded
  background-color: #ffd000
  color: white
  font-size: 30px
  margin-left: 40%
  margin-right: 40%
  border-radius: 5px
  span
    font-size: 15px
